.car-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
}

.empty-garage {
  text-align: center;
  margin: 4rem 2rem;
  padding: 6rem 2rem;
  font-size: 3.6rem;
  color: #24e7f2;
  border: 2px solid #24e7f2;
}
