.pagination {
    display:flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}

.pagination button {
    padding: .35rem .6rem;
    border-radius: 8px;
}

.pagination button.active {
    font-weight: 700;
    border: 1px solid #cfd6e4;
}