.pagination {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.pagination button {
  padding: 0.35rem 0.6rem;
  cursor: pointer;
  background: none;
  border: 2px solid #9c19e0;
  border-radius: 8px;
}

.pagination button.active {
  background: #9c19e0;
}
