.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.nav-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav-link {
  padding: 0.6rem 1.2rem;
  text-decoration: none;
  font-size: clamp(1.2rem, 2.5vw, 3rem);
  font-weight: 900;
}

.one {
  color: #24e7f2;
  border: 0.2rem solid #24e7f2;
  border-radius: 0.6rem;
}

.two {
  color: #9c19e0;
  border: 0.2rem solid #a61df0;
  border-radius: 0.6rem;
}

.app-title {
  margin: 0 auto;
  font-size: clamp(2rem, 4.8vw, 4.5rem);
  font-weight: bold;
  text-align: center;
  flex: 1;
}

.title-async,
.title-race {
  color: #ff5da2;
  display: block;
}

.nav-link.one[aria-current='page'] {
  background: linear-gradient(90deg, #830dc3, #9acbd1);
  text-shadow: 1px 1px 0 black;
}

.nav-link.two[aria-current='page'] {
  background: linear-gradient(90deg, #24e7f2, #dbb1f0);
  text-shadow: 1px 1px 0 black;
}
